<IfModule mod_rewrite.c>
    RewriteEngine On

    # Индексный файл (как просит поддержка Beget)
    DirectoryIndex index.php

    # Перенаправление всех запросов на index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
